<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- AppName is converted to base64 representation for id -->
		<add key="AppName" value="SamsungRemoteDemo"/>
		<!-- IP address of TV -->
		<add key="IpAddr" value="***REMOVED***"/>
		<!-- MAC address of TV -->
		<add key="MacAddr" value="***REMOVED***"/>
		<!-- Comm. port for TV -->
		<add key="Port" value="8002"/>
		<!-- Wifi subnet mask -->
		<add key="Subnet" value="255.255.255.0"/>
		<!-- If null will generate new token -->
		<add key="Token" value="null"/>
		<!-- If true will output Debug.WriteLine statements -->
		<add key="Debug" value="True"/>
	</appSettings>
</configuration>